.container-filter {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100rem;
  background-color: #ebebeb;
  box-shadow: 0 0.2rem 1.1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 1.8rem 4rem;
  max-height: 0 !important;
  overflow: hidden;
  transition: all 0.5s ease;
}

.container-filter.open {
  max-height: 700px !important;
}

.title-box-filter {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

h4 {
  color: #b9b9b9;
  margin-bottom: 3rem;
}

.progess-loading {
  position: absolute;
  z-index: 10;
}

.buttons-filters {
  display: flex;
  flex: row;
  width: 100%;
  justify-content: space-between;
}

.buttons-filters button {
  all: unset;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0.2rem 1.1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  cursor: pointer;
}

.buttons-filters .clear-filter {
  background-color: #e3e3e3;
}

.buttons-filters .applicated-filter {
  margin-left: 1.5rem;
  color: #fff;
  background-color: #7978d9;
}

.buttons-filters .add-categorie {
  color: #fff;
  background: #3a9ff1;
}

.container-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  margin-bottom: 4rem;
}

.btn-filter {
  all: unset;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  border-radius: 2rem;
  min-width: auto;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 0.2rem 1.1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-filter img {
  height: 1.4rem;
  margin-left: 2rem;
}

@media (max-width: 1300px) {
  .container-filter {
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    box-shadow: 0 0.2rem 1.1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-bottom: 3rem;
    padding: 1.8rem 4rem;
  }
}

@media (max-width: 540px) {
  .container-filter {
    width: 100%;
    padding: 1.8rem 1.7rem;
  }

  .btn-filter img {
    margin-left: 1rem;
  }

  .buttons-filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .buttons-filters div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.7rem;
  }

  .clear-filter,
  .applicated-filter {
    font-size: 1.7rem;
    text-align: center;
    padding: 1.1rem 0;
    width: 48%;
    box-shadow: 0 0.2rem 1.1rem rgba(0, 0, 0, 0.1);
  }

  button .add-categorie {
    width: auto;
  }

  .buttons-filters button:last-child {
    margin-left: 0;
  }
}
