.container-register {
    height: 76rem;
}

.edit-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    background-color: #fff;
    padding: 1rem 5rem 2rem;
    min-height: 64rem;
    min-width: 45rem;
    border-radius: 1rem;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    z-index: 5;
}

.btn-close {
    position: absolute;
    height: 2.7rem;
    top: 1.2rem;
    right: 14px;
    cursor: pointer;
}

.edit-register input {
    all: unset;
}

.edit-register label {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #484848;
    margin-bottom: .5rem;
}

.edit-register input {
    border: 1px solid rgba(85, 85, 85, 0.65);
    padding: 1.2rem;
    border-radius: .5rem;
}

.edit-register input:focus {
    border: 1px solid rgb(36, 35, 35);
}

.edit-register h1 {
    font-weight: 700;
    color: black;
    font-size: 3.6rem;
    line-height: 4.3rem;
    margin-bottom: 3rem
}

.register-buttons {
    display: flex;
    width: 100%;
    margin-bottom: 3.6rem;
}

.register-buttons div {
    text-align: center;
    padding: 1.5rem;
    width: 50%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #fff;
    cursor: pointer;
}

.btn-received {
    background-color: #B9B9B9;
}

.btn-exits {
    background-color: #FF576B;
}

.input-value {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.input-categories-edit {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.input-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.input-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.btn-confirm-edit-register {
    all: unset;
    border-radius: .5rem;
    color: #fff;
    margin-top: 1rem;
    background-color: #7978D9;
    padding: 1.2rem 7rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

@media (max-width: 540px) {
    .edit-register {
        min-height: 95%;
        min-width: 98%;
        padding: 3rem 2rem 2.3rem;
    }
}